<section class="row align-items-center m-0 p-0">
  <div class="col-5">
    <button [routerLink]="['/home']" routerLinkActive="router-link-active"><img src="/assets/logo-cabecalho.png" class="ms-5" alt=""></button>
  </div>
  <div class="col-7">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" class="mx-1 link">Acervo</a>
    <a [routerLink]="['/emprestimos']" routerLinkActive="router-link-active" class="mx-1 link">Meus Emprestimos</a>
  </div>
</section>
